.login-title {
	margin: 50px 0;
	height: 40px;
	line-height: 40px;
	font-size: 32px;
	color: #fff;
	text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-transform: translate(2px, 20px);
	-moz-text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-background-clip: text;
	clear: both;
	z-index: 999;
	position: absolute;
	top: 0px;
	right: 43%;
}
.log_s{
	
}
